/***** 新CSSエリア（統合作業エリア） 2021/06/10以降 *****/
.wrapper {
  background-color: #fff !important;
}

.sec_title {
  display: inline-block;
  align-items: baseline;
  padding: 20px 0 20px 2%;
}

@media only screen and (min-width: 768px) {
  .textbox.middle {
    width: auto;
    max-width: 420px;
  }
}

.title_middle {
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .inner_base {
    padding: 0 5% 0 0;
  }
  .main_title_desc, .main_title_desc_s {
      padding-left: 10px;
  }
  .title_middle {
    font-size: 18px;
  }
}

/*** お知らせ記事ページ ***/
.textbox {
  background-color: #fff;
  border-left: 1px solid #888;
  border-bottom: 1px solid #888
}

.sec_article_detail .textbox.large.big {
  box-sizing: border-box;
  display: block;
  z-index: 3;
  position: relative;
  max-width: 960px;
  margin: -150px 240px 0 auto;
  padding: 30px 120px;
}

@media screen and (max-width: 1440px) {
  .sec_article_detail .textbox.large.big {
    width: auto;
    max-width: 100%;
    margin-right: calc(100vw - 1200px);
    margin-left: calc((100vw - 960px) / 2);
  }
}

@media screen and (max-width: 1200px) {
  .sec_article_detail .textbox.large.big {
    margin-right: 0;
  }
}

@media screen and (max-width: 1040px) {
  .sec_article_detail .textbox.large.big {
    margin-left: 40px;
    padding: 40px;
  }
}

@media screen and (max-width: 767px) {
.sec_article_detail .textbox.large.big {
    margin-left: 5%;
    padding: 5% 5% 2%;
  }
}

.title_big, .title_middle {
  font-family: Noto Sans JP, Helvetica, sans-serif;
  font-weight: 400;
  color: #4e4e4e;
}

.title_big {
  max-width: 720px;
  font-size: 36px;
  font-weight: 400;
  text-shadow: none;
  height: auto;
}

.top_tags {
  height: 0;
}

.article_detail {
  padding: 30px 0 0;
}

@media screen and (max-width: 767px) {
  .title_big {
    font-size: 27px !important;
    letter-spacing: 0.1em;
  }
  .article_detail {
    padding: 20px 5% 0;
  }
}



/* 2021/06/11 黒澤 追加 */

.info_detail {
  background-color: #fff;
}

/* 2021/06/11 黒澤 追加 */
.info-img img {
  max-width: 100%;
}

/* 2021/06/11 黒澤 追加 */
#faq {
  padding-bottom: 50px;
}

@media only screen and (min-width: 768px) {
.textbox.middle {
    width: auto;
    max-width: 420px;
  }
}

/***** 新CSSエリア（統合作業エリア） END ***************/



/***** 旧CSSエリア 2021/06/10以前 ********************/
/* common */
.series_name {
  display: inline-block !important;
  border: 1px solid #2c76a4;
  background-color: #fffdf5;
  color: #2c76a4; }
  .series_name > * {
    color: #2c76a4; }

.textbox {
  background-color: #fff; }

.article_middle .textbox .wrap_social {
  padding-left: 0; }

.title_big, .title_middle {
  font-family: Noto Sans JP, Helvetica, sans-serif;
  font-weight: 400;
  color: #202020;
}

.title_big {
  font-size: 36px;
}
.title_middle {
  font-size: 20px;
}

.wrap_img {
  max-width: none; }

.title_thin_subtitle {
  margin-bottom: 50px;
}


/* article */
.titleInfoLink a {
  color: #B0AD9E;
  font-size: 32px; }
  @media only screen and (max-width: 767px) {
    .titleInfoLink a {
      font-size: 26px; } }

.title_thin h2 {
  margin-bottom: 0px; }

@media only screen and (max-width: 767px) {
  .title_thin_subtitle {
    margin-top: 10px; } }

/* single */
.sec_article_detail .textbox.large.big {
  margin-top: 0; }

.sec_article_detail .singleText img {
  max-width: 100% !important; }

.wrap_social.color_black .datebox {
  margin-right: 0; }

.wrap_label_article_mv .title_avatar {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px); }

@media only screen and (max-width: 767px) {
  .wrap_label_article_mv a:first-of-type {
    margin-bottom: 20px; } }

.wrap_label_article_mv a:first-of-type .title_avatar span:nth-of-type(2) {
  display: none; }

.kanrenLink .title_thin {
  margin-bottom: 30px; }

.kanrenLink .textbox.middle {
  margin-top: 0; }

.kanrenLink .title_middle {
  line-height: 33px; }

.kanrenLink .wrap_article_middle.colum2 {
  width: 100%; }

.kanrenLink .inner_base {
  max-width: 1020px; }
  @media only screen and (max-width: 767px) {
    .kanrenLink .inner_base {
      width: 90%; } }

.kanrenLink .series_name {
  font-size: 15px !important;
  padding: 3px 5px !important;
  line-height: 19px !important; }

.btn_share.last {
  margin-top: 55px; }

/* search */
.articleListStyle .textbox > .search_series_name_link{
  display: none;
}

/***** 旧CSSエリア 2021/06/10以前 END ********************/



img {
    height: auto;
    max-width: 100%;
}


