/***** 新CSSエリア（統合作業エリア） 2021/06/10以降 *****/
.wrapper {
  background-color: #fff !important;
}

.sec_title {
  display: inline-block;
  align-items: baseline;
  padding: 20px 0 20px 2%;
}

@media only screen and (min-width: 768px) {
  .textbox.middle {
    width: auto;
    max-width: 420px;
  }
}

.title_middle {
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .inner_base {
    padding: 0 5% 0 0;
  }
  .main_title_desc, .main_title_desc_s {
      padding-left: 10px;
  }
  .title_middle {
    font-size: 18px;
  }
}

/*** お知らせ記事ページ ***/
.textbox {
  background-color: #fff;
  border-left: 1px solid #888;
  border-bottom: 1px solid #888
}

.sec_article_detail .textbox.large.big {
  box-sizing: border-box;
  display: block;
  z-index: 3;
  position: relative;
  max-width: 960px;
  margin: -150px 240px 0 auto;
  padding: 30px 120px;
}

@media screen and (max-width: 1440px) {
  .sec_article_detail .textbox.large.big {
    width: auto;
    max-width: 100%;
    margin-right: calc(100vw - 1200px);
    margin-left: calc((100vw - 960px) / 2);
  }
}

@media screen and (max-width: 1200px) {
  .sec_article_detail .textbox.large.big {
    margin-right: 0;
  }
}

@media screen and (max-width: 1040px) {
  .sec_article_detail .textbox.large.big {
    margin-left: 40px;
    padding: 40px;
  }
}

@media screen and (max-width: 767px) {
.sec_article_detail .textbox.large.big {
    margin-left: 5%;
    padding: 5% 5% 2%;
  }
}

.title_big, .title_middle {
  font-family: Noto Sans JP, Helvetica, sans-serif;
  font-weight: 400;
  color: #4e4e4e;
}

.title_big {
  max-width: 720px;
  font-size: 36px;
  font-weight: 400;
  text-shadow: none;
  height: auto;
}

.top_tags {
  height: 0;
}

.article_detail {
  padding: 30px 0 0;
}

@media screen and (max-width: 767px) {
  .title_big {
    font-size: 27px !important;
    letter-spacing: 0.1em;
  }
  .article_detail {
    padding: 20px 5% 0;
  }
}



/* 2021/06/11 黒澤 追加 */

.info_detail {
  background-color: #fff;
}

/* 2021/06/11 黒澤 追加 */
.info-img img {
  max-width: 100%;
}

/* 2021/06/11 黒澤 追加 */
#faq {
  padding-bottom: 50px;
}

@media only screen and (min-width: 768px) {
.textbox.middle {
    width: auto;
    max-width: 420px;
  }
}

/***** 新CSSエリア（統合作業エリア） END ***************/



/***** 旧CSSエリア 2021/06/10以前 ********************/
/* common */
.series_name {
  display: inline-block !important;
  border: 1px solid #2c76a4;
  background-color: #fffdf5;
  color: #2c76a4; }
  .series_name > * {
    color: #2c76a4; }

.textbox {
  background-color: #fff; }

.article_middle .textbox .wrap_social {
  padding-left: 0; }

.title_big, .title_middle {
  font-family: Noto Sans JP, Helvetica, sans-serif;
  font-weight: 400;
  color: #202020;
}

.title_big {
  font-size: 36px;
}
.title_middle {
  font-size: 20px;
}

.wrap_img {
  max-width: none; }

.title_thin_subtitle {
  margin-bottom: 50px;
}


/* article */
.titleInfoLink a {
  color: #B0AD9E;
  font-size: 32px; }
  @media only screen and (max-width: 767px) {
    .titleInfoLink a {
      font-size: 26px; } }

.title_thin h2 {
  margin-bottom: 0px; }

@media only screen and (max-width: 767px) {
  .title_thin_subtitle {
    margin-top: 10px; } }

/* single */
.sec_article_detail .textbox.large.big {
  margin-top: 0; }

.sec_article_detail .singleText img {
  max-width: 100% !important; }

.wrap_social.color_black .datebox {
  margin-right: 0; }

.wrap_label_article_mv .title_avatar {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px); }

@media only screen and (max-width: 767px) {
  .wrap_label_article_mv a:first-of-type {
    margin-bottom: 20px; } }

.wrap_label_article_mv a:first-of-type .title_avatar span:nth-of-type(2) {
  display: none; }

.kanrenLink .title_thin {
  margin-bottom: 30px; }

.kanrenLink .textbox.middle {
  margin-top: 0; }

.kanrenLink .title_middle {
  line-height: 33px; }

.kanrenLink .wrap_article_middle.colum2 {
  width: 100%; }

.kanrenLink .inner_base {
  max-width: 1020px; }
  @media only screen and (max-width: 767px) {
    .kanrenLink .inner_base {
      width: 90%; } }

.kanrenLink .series_name {
  font-size: 15px !important;
  padding: 3px 5px !important;
  line-height: 19px !important; }

.btn_share.last {
  margin-top: 55px; }

/* search */
.articleListStyle .textbox > .search_series_name_link{
  display: none;
}

/***** 旧CSSエリア 2021/06/10以前 END ********************/



img {
    height: auto;
    max-width: 100%;
}


/*** ヘッダー ***/
/* 2021/07/15修正分 */
#menu {
  margin-top: 67px;
  overflow-y: auto;
}
@media only screen and (min-width: 768px) {
  #menu {
    height: calc(100vh - 67px)!important;
    width: 500px;
  }
}
@media only screen and (max-width: 767px) {
  #menu {
    width: 85%;
  }
}
.inner_menu {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 67px);
  color: #4E4E4E;
  background: rgba(255,255,255,0.92);
  padding-bottom: 126px;
  box-sizing: border-box;
}
#search_sp {
  background: #fff;
  border: 1px solid #B0AD9E;
  padding: 5px 28px;
}
.search__box {
  margin: 0 10%;
}
.inner_menu_block {
  width: 100%;
  padding-top: 30px;
}
.item_menu {
  text-align: center;
}
.item_menu:not(:first-of-type) {
  padding-top: 20px;
}
.item_menu>a:hover {
  text-decoration: none;
  opacity: 0.7;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.item_menu>a {
  color: #202020;
  position: relative;
  display: inline-block;
  transition: .3s;
}
.item_menu>a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 1px;
  background-color: #202020;
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.item_menu>a:hover::after{
  width: 100%;
}
.menu_border{
  width:  77%;
  margin: 0 auto;
  border-bottom: 1px solid #707070;
  padding-top: 30px;
}
.inner_mail {
  width: auto;
  background: #fff;
  border: 2px solid #17577F;
  border-radius: 10px;
  padding: 12px;
  margin: 30px 50px 20px;
}
.mail_input input {
  border: none;
  background: #FBF8E5;
  padding-left: 10px;
  width: 300px;
  height: 20px;
}
.inner_menu_bottom {
  width: 100%;
  height: 126px;
  padding: 0 50px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%; /* absoluteのセンタリング処理 */
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.inner_menu_bottom .btn_share {
  padding-top: 5px;
  justify-content: space-evenly;
}
.footer_link {
  text-align: center;
  padding: 20px 0;
}
.footer_link a {
  font-size: 11px;
  color: #707070;
}
.footer_link a:before {
  content: " | ";
}
.footer_link a:first-child:before {
  content: none;
}

@media only screen and (max-width:767px) {
  #search_sp {
    padding: 15px 28px;
  }
  .inner_mail {
    margin: 30px 30px 20px;
  }
  .mail_input input {
    width: 200px;
  }
  .inner_menu_bottom {
    padding: 0 20px;
  }
}


/* 2021/07/05 「Follow us」テキスト化 */
.follow {
  /*text-align: center;*/
  display: inline-flex;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 20px;  
}

.diagonal_left {
  width: 13px;
  height: 13px;
  background-image: linear-gradient(to right top, transparent 44%, black 44%, black 56%, transparent 56%);
}

.diagonal_right {
  width: 13px;
  height: 13px;
  background-image: linear-gradient(to left top, transparent 44%, black 44%, black 56%, transparent 56%);
}

.follow_us {
  font-weight: 700;
  font-size: 15px;
  padding: 0 3px;
}


/* 2021/06/24改名新設分 */
.top_menu {
  position: absolute;
  top: 20px;
  left: 30px;
  display: block;
  z-index: 1;
}

/*.scroll {
  position: static;
  overflow: scroll;
}*/

.inner_menu_top_none {
  height: 30px;
}

.inner_menu_top {
  padding: 20px 0;
}

.inner_menu_sign {
  display: flex;
  justify-content: center;
}

.inner_menu_signIn, .inner_menu_signUp {
  /* text-align: center; */
  margin-bottom: 20px;
  margin: 0 10px;
}

.inner_menu_signUp {
  display: flex;
}

.register_desc {
  display: flex;
}

.register_desc p {
  font-size: 13px;
}

.register_desc svg {
  width: 14px;
  height: 14px;
}

.register_link {
  margin-left: 15px;
  color: #4E4E4E;
  background: linear-gradient(transparent 60%, #FFFF00 0%);
}

.inner_menu_signIn p, .inner_menu_signUp p {
  font-size: 10px;
  text-align: center;
}

.inner_menu_sign button {
  border-radius: 50px;
  border: 1px solid #B0AD9E;
  padding: 5px 15px;
  background-color: #fff;
  margin-top: 5px;
  color: #4E4E4E;
}

.inner_menu_sign button span {
  vertical-align: super;
  color: #4E4E4E;
}

.inner_menu_sign button svg {
  fill: #707070;
  width: 17px;
}

/*.inner_menu_body {
  height: 342px;
  overflow: scroll;
  margin: 0 10%;
}*/

/*.inner_menu_block:nth-child(n+1) {
  padding: 20px 0 30px;
}*/

/*.inner_menu_block.inner_menu_bottom {
  border-top: 1px solid #707070;
}*/

/*.item_menu {
  text-align: center;
}

.item_menu a {
  color: #202020;
  font-size: 14px;
}

.item_menu:not(:first-of-type) {
  padding-top: 20px;
}*/

.item_menu svg {
  width: 16px;
  height: 16px;
  margin-bottom: -3px;
  margin-right: 5px;
}

/*.inner_mail {
  width: 100%;
  border: 2px solid #17577F;
  border-radius: 10px;
  padding: 10px;
}*/

.mail_desc, .inner_mail form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.mail_desc {
  padding-bottom: 5px;
}

.mail_desc svg {
  width: 60px;
  height: 60px;
}

.mail_container {
  display: flex;
}

.mail_text {
  /*margin-left: 10px;*/
  padding-left: 10px;
  width: auto;
  letter-spacing: 1.5px;
}

.mail_title {
  font-weight: 600;
  font-size: 16px;
}

.mail_sub {
  font-size: 13px;
  letter-spacing: 0.05em;
  padding-top: 5px;
}

/*.mail_strong {
  background: linear-gradient(transparent 60%, #FFFF00 0%);
  font-size: 14px;
}*/

/*.mail_input {
  background-color: #FBF8E5;
}*/

/*.mail_input input {
  border: none;
  background-color: #FBF8E5;
  padding-left: 10px;
  width: 300px;
  height: 20px;
}*/

.mail_input input::placeholder {
  color: #DEDABC;
}

.mail_container button {
  border: none;
  background-color: #B0AD9E;
  color: #fff;
}


/*.inner_menu_bottom {
  bottom: 20px;
  z-index: 1001;
  width: 100%;
  height: 250px;
  /*margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: calc(80% - 100px);
  margin:  0 10%;
}*/

/*.fixed {
  position: static;
  width: 80%;
}*/

/*.inner_menu_bottom .btn_share {
  padding-top: 5px;
  justify-content: space-between;
}*/

.inner_menu_bottom .btn_share .share-btn {
  width: 24px;
  height: 24px;
}

/*@media only screen and (min-width:768px) {
  .mail_input input {
    width: 250px;
  }
}*/

/*@media only screen and (max-width:767px) {
  .inner_menu_bottom {
    width: calc(80% - 60px);
  }
}*/

/*@media only screen and (max-width:480px) {

  .inner_menu_bottom {
    width: calc(100% - 60px);
    margin: 0;
  }

  .inner_menu_body {
    margin: 0;
  }

  .search__box {
    margin: 0;
  }

  .inner_mail {
    width: 90%;
  }

  .mail_title {
    font-size: 14px;
  }

  .mail_strong {
    font-size: 10px;
  }

  .mail_sub {
    font-size: 11px;
  }

  .mail_input input {
    width: 200px;
  }
}*/

/* ここまで */


header {
  background-color: #fff;
  height: 67px !important;
}

header .inner_base {
  max-width: 100%;
}

.logo_header {
  position: relative;
  top: 0;
}

.sign_in {
  display: block;
}

/*.sp_menu {
  display: block;
  z-index: 1;
}*/

.logo_header {
  left: 0;
  transform: translateX(0%);
}

.logo_header, .noLogin .logo_header {
  position: static;
  margin-bottom: 0px;
  width: 150px;
  margin-left: calc(50% - 75px);
  text-align: center;
  height: 43px;
}

header.is_open .logo_header {
  top: 0px;
}
.sign_wrap {
  max-width: none;
  margin-left: auto;
  margin-bottom: 0px;
  width: 20%;
}
.sign_wrap svg {
  width: 17px;
  margin-bottom: -2px;
  color: #707070;
}
.sign_wrap a {
  color: #4E4E4E;
}
.sign_up > a {
  background-color: transparent;
}
.sign_in svg {
  margin-top: -5px;
}
.sign_up svg {
  margin-top: -7px;
}
.logo_header .sub_title {
  text-align: center;
  font-size: 10px;
  margin-top: -10px;
  margin-bottom: 10px;
  color: #2C76A4;
  height: 13px;
}

/*.inner_menu_sp {
  width: 100%;
  margin-top: 67px;
}*/

/*#search_sp {
  border: 1px solid #B0AD9E;
  margin: 0 10%;
  width: 80%;
  padding: 5px 28px;
}
@media only screen and (max-width: 767px) {
  #search_sp {
    padding: 15px 28px;
  }
}*/

.search__box {
  margin: 0 10%;
}

/* .search__box .search__btn {
  left: 10%;
}*/

.twitter {
  fill: #1DA1F2;
}

.facebook {
  fill: #1877F2;
}

.line {
  fill: #00B900;
}

.line svg {
  fill: inherit;
}

.text_copyright {
  margin: auto;
}

/*.inner_menu_sp_top {
  padding: 20px 0;
  background-color: #FFFDF5;
  color: #4E4E4E;
}*/

/*.inner_menu_sp_sign {
  display: flex;
  justify-content: center;
}

.inner_menu_sp_signIn, .inner_menu_sp_signUp {
  text-align: center;
  margin-bottom: 20px;
  margin: 0 10px;
}

.inner_menu_sp_signIn p, .inner_menu_sp_signUp p {
  font-size: 10px;
  text-align: center;
}

.inner_menu_sp_sign button {
  border-radius: 50px;
  border: 1px solid #B0AD9E;
  padding: 5px 15px;
  background-color: #fff;
  margin-top: 5px;
  color: #4E4E4E;
}

.inner_menu_sp_sign button span {
  vertical-align: super;
  color: #4E4E4E;
}

.inner_menu_sp_sign button svg {
  fill: #707070;
  width: 17px;
}*/


/*.inner_menu_sp .inner_menu_sp_block .item_menu_sp {
  text-align: center;
}*/

/*.item_menu_sp a {
  color: #4E4E4E;
}*/

/*.btn_share {
  justify-content: space-around;
}*/

/*.inner_menu_sp .inner_menu_sp_block .item_menu_sp:not(:first-of-type) {
  margin-top: 35px;
}*/

/*.inner_menu_sp_top_none {
  height: 30px;
}*/

/*.inner_menu_sp_scroll {
  height: 53vh;
}*/

/*.inner_menu_sp .inner_menu_sp_block:nth-of-type(2) {
  border-top: none;
}*/

/*.inner_menu_sp_scroll .inner_menu_sp_block {
  padding: 0;
}*/


/* 2021/06/28 ハンバーガーボタン追加 */

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 25px;
  height: 16px;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
  z-index: 1000;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2C76A4;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 7px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger span:nth-of-type(1) {
  animation: menu-bar01 .75s forwards;
}
@keyframes menu-bar01 {
  0% {
    transform: translateY(7px) rotate(45deg);
  }
  50% {
    transform: translateY(7px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
.menu-trigger span:nth-of-type(2) {
  transition: all .25s .25s;
  opacity: 1;
}
.menu-trigger span:nth-of-type(3) {
  animation: menu-bar02 .75s forwards;
}
@keyframes menu-bar02 {
  0% {
    transform: translateY(-7px) rotate(-45deg);
  }
  50% {
    transform: translateY(-7px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
.menu-trigger.active span:nth-of-type(1) {
  animation: active-menu-bar01 .75s forwards;
}
@keyframes active-menu-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(7px) rotate(0);
  }
  100% {
    transform: translateY(7px) rotate(45deg);
  }
}
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
  animation: active-menu-bar03 .75s forwards;
}
@keyframes active-menu-bar03 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-7px) rotate(0);
  }
  100% {
    transform: translateY(-7px) rotate(-45deg);
  }
}

/* 2021/06/28 ハンバーガーボタン追加 ここまで */


/*@media only screen and (min-width: 768px) {
  #menu {
    max-width: 500px;
  }
}*/

/*@media only screen and (min-width: 768px) and (max-width: 980px) {
  .sign_wrap {
    width: 25%;
  }
}*/

@media only screen and (min-width: 768px) and (max-width: 980px) {
  .sign_wrap {
      width: 23%;
  }
}


@media only screen and (max-width: 767px) {
  header .inner_base {
    padding: 0;
    height: 39px;
  }
  .user_avatar {
    top: 5px;
    margin-right: 0px;
  }

  .sign_up.none_login {
    display: none;
  }

  .sign_wrap {
  width: 23%;
  }

  /*.logo_header, .noLogin .logo_header, .sign_wrap {
    margin-bottom: 20px;
  }

  .search__box .search__btn {
    left: 12%;
  }

  #menu {
    overflow: scroll;
  }

  .search-box {
    height: 34px;
  }

  #search_sp {
    padding: 5px 35px;
  }*/
}


/*@media only screen and (max-width: 480px) {
  .sign_wrap {
  width: 17%;
  }

  .inner_menu_bottom {
    width: 80%;
  }
}*/


/* フッター */
/*header .footer_bottom {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-top: none;
}*/

/*.footer_link {
  text-align: center;
  margin-bottom: 10px;
  margin: auto;
}*/

/*.footer_link a {
  font-size: 11px;
  color: #707070;
}*/

/*.footer_link a:after {
  content: " |";
}

.footer_link a:last-child:after {
  content: none;
}*/

/*.footer_link a:before {
  content: " | ";
}
.footer_link a:first-child:before {
  content: none;
}*/


/*.follow img {
  width: 40%;
}*/

.follow button {
  border-radius: 5px;
  border: 1px solid #B0AD9E;
  padding: 5px 10px;
  background-color: #fff;
}

.follow button a {
  color: #B0AD9E;
  font-weight: bold;
}

.clearfix {
  margin: 20px 0;
}

#footer {
  text-align: center;
}

.text_copyright {
  text-align: center;
}

#LINE_LOGO_1_ .st0 {
  fill: #fff;
}

/*** ヘッダー ここまで ***/