.wrapper {
  position: relative;
  width: 100%;
  min-height: calc(100vh);
  background-color: #fffdf5;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    padding-bottom: 587px;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper {
    padding-bottom: 459px;
  }
}

.main {
  padding: 150px 0 0;
}

@media only screen and (max-width: 767px) {
  .main {
    padding: 80px 0 0;
  }
}

.inner_base {
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1159px) {
  .inner_base {
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  .inner_base {
    padding: 0 5%;
  }
}

.article_main_img {
  width: 74%;
  height: 573px;
}

@media only screen and (min-width: 768px) {
  .article_main_img img {
    background-size: 880px 462px;
    background-position: 0;
  }
}

@media only screen and (max-width: 767px) {
  .article_main_img {
    width: 94%;
    height: 350px;
  }
}

.textbox {
  display: inline-block;
  background-color: #fffdf5;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.textbox.large {
  width: 360px;
  padding: 40px 0 40px 40px;
}

@media only screen and (max-width: 767px) {
  .textbox.large {
    width: 90%;
    margin-right: 5%;
    margin-left: auto;
    padding: 25px 20px 23px 22px;
  }
}

.textbox.large .wrap_avatar {
  margin-bottom: 0px;
}

.textbox.middle {
  width: 85%;
  padding: 40px 9% 36px 40px;
}

@media only screen and (max-width: 1159px) {
  .textbox.middle {
    width: 100%;
  }
}

.textbox.middle .wrap_avatar {
  margin-bottom: 27px;
}

@media only screen and (max-width: 767px) {
  .textbox.middle .wrap_avatar {
    margin-bottom: 7px;
  }
}

.textbox.right_top {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 767px) {
  .textbox.right_top {
    top: auto;
    bottom: 0;
  }
}

.textbox.left_bottom {
  position: relative;
  z-index: 2;
  top: -39px;
  left: 0;
}

@media only screen and (max-width: 767px) {
  .textbox.left_bottom {
    position: absolute;
    z-index: 2;
    top: 0;
    left: auto;
    right: 0;
    width: calc(100% - 120px);
    padding: 0 7% 21px 28px;
  }
}

.content_mv {
  position: relative;
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 767px) {
  .content_mv {
    padding-bottom: 340px;
  }
}

@media only screen and (max-width: 767px) {
  .content_mv .wrap_social {
    margin-top: 16px;
  }
}

.content_mv .textbox_avatar {
  display: inline-block !important;
  margin-right: 10px;
}

.wrap_avatar {
  margin-right: 10px;
}

.textbox_avatar,
.title_avatar {
  position: relative;
  align-self: center;
  font-weight: 600;
  margin: 10px 0;
}

@media screen and (max-width: 767px) {
  .textbox_avatar,
  .title_avatar {
    margin: 10px 0 10px 10px;
  }
}

.textbox_avatar.story::before,
.title_avatar.story::before {
  content: 'Story by';
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: calc(100%);
  color: #000;
}

.textbox_avatar.edited::before,
.title_avatar.edited::before {
  content: 'Edited by';
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: calc(100%);
  color: #000;
}

.textbox_avatar.edited:after,
.title_avatar.edited:after {
  content: '.';
  opacity: 0;
  pointer-events: none;
}

.textbox_avatar.illustrated::before,
.title_avatar.illustrated::before {
  content: 'Illust by';
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: calc(100%);
  color: #000;
}

.textbox_avatar.illustrated:after,
.title_avatar.illustrated:after {
  content: '.';
  opacity: 0;
  pointer-events: none;
}

.textbox_avatar span.black,
.title_avatar span.black {
  color: #000;
}

.textbox_avatar span,
.title_avatar span {
  font-size: 15px;
}

.avatar_renewer {
  display: inline-block;
  width: 100px;
  margin-right: 15px;
}

.textbox_avatar {
  max-height: 50px;
  color: #2c76a4;
  margin-right: 10px;
}

@media only screen and (max-width: 767px) {
  .textbox_avatar {
    display: none;
    margin-right: 0;
  }
}

.textbox_avatar img {
  display: inline-block;
  width: 50px;
}

.textbox_avatar img:not(:first-child) {
  position: relative;
  left: -10px;
  margin-right: -10px;
}

.wrap_social {
  margin-top: 20px;
}

@media only screen and (max-width: 767px) {
  .wrap_social {
    margin-top: 30px;
  }
}

.wrap_social.color_black .likebox {
  margin-right: 21px;
  background-image: url("../images/common/icon_like.svg");
}

.wrap_social.color_black .commentbox {
  background-image: url("../images/common/icon_comments.svg");
}

.wrap_social.color_black .datebox {
  margin-right: 21px;
  background-image: url("../images/common/ic_date.svg");
}

.wrap_social.color_black .socialbox {
  align-self: center;
  color: #000;
}

.wrap_social.color_rightgreen .likebox {
  margin-right: 21px;
  background-image: url("../images/common/icon_like.svg");
}

.wrap_social.color_rightgreen .commentbox {
  background-image: url("../images/common/icon_comments.svg");
}

.wrap_social.color_rightgreen .socialbox {
  color: #000000;
}

.socialbox {
  padding-left: 23px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px auto;
  font-size: 14px;
}

.socialbox:hover {
  cursor: pointer;
}

.likebox {
  margin-right: 21px;
  background-image: url("../images/common/icon_like.svg");
}

.commentbox {
  background-image: url("../images/common/icon_comments.svg");
}

.content_article {
  padding: 40px 0 20px;
}

@media only screen and (max-width: 767px) {
  .content_article {
    padding-bottom: 42px;
  }
}

@media only screen and (max-width: 767px) {
  .content_article .textbox_avatar img {
    display: none;
  }
}

.wrap_article_middle {
  justify-content: space-between;
  flex-wrap: wrap;
  /* 2column */
  /* 3column */
}

.wrap_article_middle.colum2 {
  width: 83%;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 767px) {
  .wrap_article_middle.colum2 {
    width: 100%;
  }
}

.wrap_article_middle.colum2 .article_middle {
  width: calc((100% / 2) - 20px);
}

@media only screen and (max-width: 767px) {
  .wrap_article_middle.colum2 .article_middle {
    width: 100%;
  }
  .wrap_article_middle.colum2 .article_middle:not(:first-child) {
    margin-top: 65px;
  }
}

.wrap_article_middle.colum3 {
  width: 100%;
}

.wrap_article_middle.colum3 .article_middle {
  width: calc((100% / 3) - 20px);
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .wrap_article_middle.colum3 .article_middle {
    width: calc((100% / 2) - 20px);
  }
}

@media only screen and (max-width: 767px) {
  .wrap_article_middle.colum3 .article_middle {
    width: 100%;
  }
}

.article_middle {
  position: relative;
  display: inline-block;
}

.article_middle .btn_base {
  position: relative;
  top: -6px;
}

@media only screen and (max-width: 767px) {
  .article_middle .btn_base {
    display: table;
    margin-top: 82px;
    margin-right: auto;
    margin-left: auto;
  }
}

.article_middle_img {
  width: 100%;
  height: 306px;
}

@media only screen and (max-width: 767px) {
  .article_middle_img {
    width: 120px;
    height: 125px;
  }
}

.sec_agenda {
  padding-top: 40px;
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .sec_agenda {
    padding-bottom: 90px !important;
  }
}

@media only screen and (max-width: 767px) {
  .sec_agenda .title_thin_img img {
    width: 46px;
  }
}

.content_agenda {
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .content_agenda {
    flex-wrap: wrap;
  }
}

.content_agenda.column3 .agenda {
  width: calc((100% / 3) - 25px);
}

@media only screen and (max-width: 767px) {
  .content_agenda.column3 .agenda {
    width: 100%;
    margin-bottom: 60px;
  }
}

.agenda .btn_base {
  margin-top: 40px;
}

.wrap_title_agenda {
  position: relative;
  padding: 147px 20px 20px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .wrap_title_agenda {
    padding: 108px 9% 23px;
  }
}

.wrap_title_agenda .title_agenda {
  text-align: center;
  line-height: 22px;
  font-size: 22px;
  font-weight: 500;
}

.img_agenda {
  position: absolute;
  bottom: 60px;
  left: 50%;
  width: 100%;
  height: 157px;
  object-fit: contain;
  transform: translateX(-50%);
  z-index: 0;
}

.list_agenda {
  padding: 0 0 0 0;
  background-color: #fff;
  border: 1px solid #c7dcee;
  border-top: none;
}

.list_agenda .item_agenda {
  position: relative;
}

.list_agenda .item_agenda::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 1px;
  width: calc(100% - 40px);
  margin: 0 20px;
  background-color: #cecece;
}

.list_agenda .see_more a {
  font-weight: 600;
  color: #2c76a4;
  float: right;
  padding-right: 20px;
  margin: 15px 0;
}

.list_agenda .see_more a:hover {
  color: #2c76a4;
}

.list_agenda::after {
  content: '';
  display: block;
  clear: both;
}

.target_agenda {
  display: block;
  padding: 20px 20px 15px 20px;
}

@media only screen and (max-width: 767px) {
  .target_agenda {
    padding: 20px 20px 15px 20px;
  }
}

.target_column {
  margin-top: 10px;
  position: relative;
  display: block;
}

.target_column .title_avatar {
  margin: 0 !important;
}

@media screen and (max-width: 767px) {
  .target_column {
    display: flex;
    vertical-align: top;
  }
}

.wrap_thumbs_agenda {
  width: 120px;
  height: 63px;
}

.wrap_thumbs_agenda img {
  width: 120px;
  height: 63px;
}

@media only screen and (max-width: 767px) {
  .wrap_thumbs_agenda {
    background-color: #eee;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    -js-display: flex;
    display: flex;
  }
}

.wrap_thumbs_column {
  width: 230px;
  min-width: 200px;
  height: 152px;
}

@media only screen and (max-width: 767px) {
  .wrap_thumbs_column {
    min-width: 100px;
    width: 132px;
    height: 125px;
    background-color: #eee;
  }
}

.wrap_text_agenda {
  padding: 0 0 0 20px;
  width: calc(100% - 120px);
}

.wrap_text_agenda .title_avatar {
  margin-top: 10px;
}

.wrap_text_agenda .wrap_social {
  margin-top: 15px;
}

.name_agenda {
  margin-bottom: 5px;
  padding: 0;
}

.sec_column {
  padding-top: 70px;
  background-color: #fff;
}

@media only screen and (max-width: 767px) {
  .sec_column {
    padding-top: 60px;
  }
}

.sec_column .title_thin {
  margin-bottom: 84px;
}

@media only screen and (max-width: 767px) {
  .sec_column .title_thin {
    margin-bottom: 47px;
  }
  .sec_column .title_thin img {
    width: 190px;
  }
}

@media only screen and (max-width: 767px) {
  .content_column {
    flex-direction: column;
  }
}

.content_column.column2 .column {
  width: calc((100% / 2) - 20px);
}

@media only screen and (max-width: 767px) {
  .content_column.column2 .column {
    width: 100%;
    margin-bottom: 34px;
  }
}

.wrap_text_column {
  border-bottom: solid 1px #555;
}

.wrap_text_column .wrap_social {
  margin-top: 0px;
  margin-left: 10px;
}

.column .btn_base {
  margin-top: 40px;
}

@media only screen and (max-width: 767px) {
  .column .btn_base {
    display: table;
    margin-right: auto;
    margin-left: auto;
  }
}

.news {
  max-width: 960px;
  padding: 10px 60px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  border: solid 1px #000000;
}

@media screen and (max-width: 768px) {
  .news {
    border-style: dashed;
    padding: 30px 40px;
    border-right: none;
    border-left: none;
  }
}

.news span:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .news {
    display: block;
  }
  .news span {
    display: block;
    margin-bottom: 10px;
  }
}

.list_column {
  margin-top: 14px;
  padding: 20px 10px 10px 10px;
  transform: translateY(-50px);
  max-width: calc(100% - 40px);
  background-color: #ffffff;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.list_column::after {
  content: '';
  display: block;
  clear: both;
}

.list_column .see_more {
  margin-top: 10px;
  float: right;
}

.item_column:not(:first-child) {
  margin-top: 0px;
}

@media only screen and (max-width: 767px) {
  .item_column:not(:first-child) {
    margin-top: 27px;
  }
}

.wrap_text_column {
  padding: 0 3% 20px 5.5%;
}

.renewer_social {
  display: block;
}

.sec_renewer {
  padding-top: 60px;
  padding-bottom: 120px;
  background-color: #fffdf5;
}

@media only screen and (max-width: 767px) {
  .sec_renewer {
    padding-top: 32px;
    padding-bottom: 90px;
  }
}

.sec_renewer .title_thin {
  margin-bottom: 72px;
}

@media only screen and (max-width: 767px) {
  .sec_renewer .title_thin {
    margin-bottom: 48px;
  }
  .sec_renewer .title_thin img {
    width: 188px;
  }
}

.content_renewer {
  flex-wrap: wrap;
}

.content_renewer.column3 .renewer {
  width: calc((100% / 3) - 25px);
}

@media only screen and (max-width: 767px) {
  .content_renewer.column3 .renewer {
    width: 100%;
    margin-bottom: 60px;
  }
}

.series_name {
  position: relative;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 7px;
  line-height: 19px;
  font-size: 15px;
  color: #ffffff;
  padding: 3px 5px;
  border-radius: 0 100px 100px 0;
  background-color: #2c76a4;
  overflow: hidden;
  margin-left: 0px;
  transition: 0.2s ease;
}

.series_name * {
  color: #ffffff;
}

.top_tags {
  margin: 20px 0 0px 0;
  text-align: left;
}

.top_tags a {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  padding: 2px 10px 2px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  transition: 0.2s ease;
}

.top_tags a p {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.top_tags a:before {
  content: '';
  display: inline-block;
  z-index: 1;
  position: absolute;
  left: calc(-100% - 10px);
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2c76a4;
  transition: 0.2s ease;
}

.top_tags a:hover {
  color: #ffffff;
}

.top_tags a:hover:before {
  left: 0px;
  width: calc(100% + 10px);
}

.content_renewer .btn_base {
  margin-top: 37px;
  margin-right: calc(100% - (66.66% + 232px));
  margin-left: auto;
}

@media only screen and (max-width: 767px) {
  .wrap_text_renewer {
    margin-top: 14px;
  }
}

.wrap_text_renewer .text_renewer {
  font-size: 14px;
}

.avatar_renewer_wrapper {
  display: flex;
  justify-content: flex-start;
}

.renewer_flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.username_middle {
  margin-bottom: 10px;
  color: #2c76a4;
  font-weight: 600;
}

.name_renewer {
  vertical-align: top;
  padding-left: 20px;
  font-weight: 500;
  width: 100%;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .name_renewer {
    margin-bottom: 15px 0;
    width: 100%;
    padding-left: 0;
  }
}

.handle_name {
  display: block;
  font-size: 18px;
  color: #2c76a4;
}

.category_renewer {
  display: block;
  margin-top: 7px;
  font-size: 10px;
}

.name_renewer .category_renewer {
  font-size: 10pt;
}

.sec_comment {
  padding-top: 48px;
  padding-bottom: 97px;
}

@media only screen and (max-width: 767px) {
  .sec_comment {
    padding-top: 65px;
    padding-bottom: 20px;
  }
}

.sec_comment .title_thin {
  margin-bottom: 72px;
}

@media only screen and (max-width: 767px) {
  .sec_comment .title_thin {
    margin-bottom: 42px;
  }
  .sec_comment .title_thin img {
    width: 163px;
  }
}

@media only screen and (max-width: 767px) {
  .content_commment {
    flex-direction: column;
  }
}

.content_commment.column2 .comment {
  width: calc((100% / 2) - 20px);
}

@media only screen and (max-width: 767px) {
  .content_commment.column2 .comment {
    width: 100%;
    margin-bottom: 40px;
  }
}

.comment {
  border-left: 1px solid #b5b5ac;
  border-bottom: 1px solid #b5b5ac;
}

.wrap_img_comment {
  width: 200px;
  min-width: 200px;
  height: 110px;
}

@media only screen and (max-width: 767px) {
  .wrap_img_comment {
    width: 100px;
    min-width: 100px;
    background-color: #eee;
  }
}

.wrap_title_comment {
  padding: 10px 30px;
}

.wrap_title_comment .title_avatar {
  margin: 5px 0 0 0;
}

@media only screen and (max-width: 767px) {
  .wrap_title_comment {
    padding: 15px 20px 0 20px;
  }
}

.wrap_text_comment {
  padding: 30px 6% 46px 8%;
  background-color: #e2ddc2;
}

@media only screen and (max-width: 767px) {
  .wrap_text_comment {
    padding: 16px 6% 20px 8%;
  }
}

.wrap_text_comment .move_to_comment {
  display: block;
  color: #2c76a4;
  text-align: right;
  font-weight: 600;
}

.sign_in {
  align-self: center;
}

.sign_in a {
  padding: 0 5px;
}

.slider_agenda {
  padding-top: 110px !important;
}

@media only screen and (max-width: 767px) {
  .slider_agenda {
    padding-top: 65px !important;
  }
}

.slider_agenda .uk-slider-container {
  padding-top: 70px;
}

.slider_agenda .agenda {
  width: 386px;
  padding: 0 15px;
}

@media only screen and (max-width: 767px) {
  .slider_agenda .agenda {
    width: 100%;
    margin-right: 36px;
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  .uk-child-width-1-2 > * {
    width: 100% !important;
  }
}

@media only screen and (min-width: 768px) {
  .slider_renewer .renewer {
    width: 386px;
    padding: 0 18px;
  }
}

@media only screen and (max-width: 767px) {
  .slider_renewer .renewer {
    margin-right: 0px 15px;
    padding-right: 0;
  }
}

.slider_renewer .renewer .inner_renewer {
  position: relative;
  display: block;
  padding: 5.5% 5.4%;
  background-color: #f8eae1;
  border: solid 1px #e9bc9d;
}

@media only screen and (max-width: 767px) {
  .slider_renewer .renewer .inner_renewer {
    padding: 6.5% 7.4% 7%;
  }
}

@media only screen and (min-width: 1159px) {
  .uk-dotnav {
    opacity: 0;
  }
  .uk-dotnav a:hover {
    cursor: inherit;
  }
}
