header {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 150px;
  padding: 41px 0 71px;
  text-align: left;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  -ms-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

@media only screen and (max-width: 767px) {
  header {
    padding: 27px 10px 27px;
  }
}

header.is_fixed {
  position: fixed;
  padding: 20px 0 0;
  background-color: #fff;
  -moz-box-shadow: 0px 2px 55px -32px black;
  -webkit-box-shadow: 0px 2px 55px -32px black;
  -ms-box-shadow: 0px 2px 55px -32px black;
  box-shadow: 0px 2px 55px -32px black;
}

header.is_fixed.is_open {
  padding: 27px 10px 27px;
}

header.is_fixed .inner_base {
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  header.is_fixed {
    padding: 20px 0 20px;
  }
}

header:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 5%;
  height: 1px;
  width: 0;
  background-color: #000;
  z-index: 9002;
  transition: all 0.6s;
}

header.is_open:after {
  width: 90%;
}

header.is_open .logo_header {
  position: relative;
  left: 0;
}

header.is_open .logo_header svg #symbols > g {
  fill: #fff !important;
}

header.is_open .user_avatar {
  display: inline-block;
}

header.is_open .badge_btn_sp_menu {
  display: none;
}

@media only screen and (max-width: 1280px) {
  header .inner_base {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 768px) {
  header .inner_base {
    min-height: 67px;
  }
}

header .footer_bottom {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001;
  width: 90%;
  margin: 40px auto 0;
  padding-top: 20px;
  border-top: 1px solid #000;
}

header .footer_bottom .social_button a {
  color: #000 !important;
}

header .footer_bottom .text_copyright {
  align-self: center;
  color: #000;
}

.list_mypage {
  justify-content: center;
}

.list_mypage .uk-badge {
  background-color: #fff !important;
}

.logo_header {
  position: relative;
  z-index: 9000;
  top: -5px;
  display: inline-block;
  vertical-align: middle;
  align-self: center;
}

@media only screen and (max-width: 767px) {
  .logo_header {
    top: 1px;
    margin-right: auto;
    margin-left: auto;
  }
}

.nav_header {
  position: relative;
  top: -6px;
  display: inline-block;
  vertical-align: middle;
  align-self: center;
  padding-left: 7.8%;
}

@media only screen and (min-width: 768px) and (max-width: 980px) {
  .nav_header {
    padding-left: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .nav_header {
    display: none;
  }
}

.list_nav_header {
  width: 100%;
  flex-wrap: nowrap;
}

.item_nav_header:not(:last-child) {
  margin-right: 12%;
}

@media only screen and (min-width: 768px) and (max-width: 980px) {
  .item_nav_header:not(:last-child) {
    margin-right: 20px;
  }
}

.item_nav_header.highlighted {
  border-bottom: solid 1px #2c76a4;
}

.target_nav_header {
  white-space: nowrap;
}

.uk-button {
  white-space: nowrap;
}

header .uk-button {
  display: none;
  margin-left: auto;
}

header .uk-button img {
  position: relative;
  top: 4px;
  width: 16px;
  min-width: 16px;
}

header .uk-button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  header .uk-button {
    display: block;
    border: none;
  }
}

.search__box {
  position: relative;
  z-index: 9000;
  top: -7px;
  display: flex;
  align-self: center;
  align-items: center;
  width: 26%;
  min-width: 120px;
  margin-left: auto;
  padding: 0.25em;
  box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
  .search__box {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    min-width: 20px;
    border: none;
  }
}

.search__box .search__btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 1;
}

.search__box:hover .search__field {
  width: 240px;
  padding: 0.25em 0.5em;
}

@media only screen and (max-width: 767px) {
  .search__box:hover .search__field {
    width: 200px;
  }
}

.search__field {
  outline: none;
  border: none;
  background: transparent;
  color: #2c76a4;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  width: 0;
  transition: all ease-in 400ms;
}

.search__field::-webkit-input-placeholder {
  color: #2c76a4;
  font-size: 0.9rem;
}

.search__field:-ms-input-placeholder {
  color: #2c76a4;
  font-size: 0.9rem;
}

.search__field::-ms-input-placeholder {
  color: #2c76a4;
  font-size: 0.9rem;
}

.search__field::placeholder {
  color: #2c76a4;
  font-size: 0.9rem;
}

.search__btn {
  position: relative;
  top: 0;
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  border-radius: 50%;
  transition: all ease-out 10ms;
  transition-delay: 100ms;
  cursor: pointer;
  background-image: url("../images/common/icon_search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12px auto;
}

@media only screen and (max-width: 767px) {
  .search__btn {
    width: 20px;
    height: 20px;
    background-size: 12px auto;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    z-index: 1;
  }
}

.user_avatar {
  align-self: center;
  position: relative;
  top: -1px;
  padding-left: 2%;
}

@media only screen and (max-width: 767px) {
  .user_avatar {
    display: none !important;
  }
}

.user_avatar .badge_btn_sp_menu {
  position: absolute;
  z-index: 2;
  top: -5px;
  right: -5px;
}

.uk-badge {
  position: absolute;
  z-index: 2;
  top: -5px;
  right: -5px;
  background-color: #fff;
  color: #000000;
}

.uk-offcanvas-bar {
  background-color: #2c76a4;
}

.uk-open > .uk-offcanvas-bar {
  z-index: 9900;
}

.uk-offcanvas-close {
  z-index: 9999;
}

.btn_sp_menu {
  width: 40px;
  height: 40px;
  border: none;
  position: fixed;
  top: 10px;
  left: 10px;
}

.sp_menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

@media only screen and (max-width: 767px) {
  .sp_menu {
    display: block;
  }
  .sp_menu .user_avatar {
    display: block !important;
  }
}

.inner_header {
  position: relative;
}

.is_open #menuToggle {
  top: 34px !important;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 34px;
  left: 28px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle .uk-badge {
  position: absolute;
  z-index: 9999;
  top: -15px;
  right: -7px;
  pointer-events: none;
}

#menuToggle .badge_mypage_sp_menu {
  top: 5px;
}

#menuToggle input {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -24px;
  left: -20px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 1002;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle .ic_menu {
  position: relative;
  display: block;
  width: 24px;
  height: 1px;
  margin-bottom: 5px;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 9000;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span.ic_menun:first-child {
  transform-origin: 0% 0%;
}

#menuToggle .ic_menu:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ .ic_menu {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}

#menuToggle input:checked ~ .ic_menu:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ .ic_menu:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.inner_menu_sp {
  min-height: 100vh;
  overflow-y: auto;
}

#menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 120px 0 80px;
  background: #2c76a4;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  color: #fff !important;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu .item_menu_sp {
  padding: 5px;
}

#menu a {
  display: block;
  padding: 9px 0;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

#menuToggle input:checked ~ section {
  transform: none;
}

.is_fixed #menuToggle {
  top: 24px;
}

.sign_in {
  display: block;
}

@media screen and (max-width: 767px) {
  .sign_in {
    display: none;
  }
}

.user_avatar {
  display: none;
}
